
body{margin:0;background:#111;color:white;font-family:Arial;text-align:center}
#game{display:none;background:#222;width:100vw;height:100vh;touch-action:none}
#menu{padding:20px}
button,select{font-size:20px;padding:10px;margin:10px}
